<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.hassannaqvi.tmk_el_spotcheck">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.hardware.location.gps" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- TakePhoto Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.core.MainApp"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:logo="@drawable/app_icon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionF06Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionF05Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionF04Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionF03Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionF02Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.list_activity.FormsReportCluster"
            android:label="Forms Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.list_activity.FormsReportDate"
            android:label="Forms Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.list_activity.PendingFormsActivity"
            android:label="Unfinished Forms"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.other.SplashscreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.other.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.other.MainActivity"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionBActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionCActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionE01Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionE02Activity"
            android:label="@string/sectione_mainheading"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionF01Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionG01Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionG02Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionH01Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionH02Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionI01Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionI02Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionJ01Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionJ02Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionKActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionLActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionNActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.other.EndingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.core.AndroidDatabaseManager"
            android:parentActivityName="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.other.SyncActivity"
            android:parentActivityName="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />

        <service android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.utils.DownloadFileService" />

        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.sections.SectionDActivity"
            android:parentActivityName="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.list_activity.FamilyMembersListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.list_activity.FamilyMembersListActivity" />
        </activity>
        <activity
            android:name="edu.aku.hassannaqvi.tmk_el_spotcheck.ui.list_activity.FamilyMembersListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>